<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css" title="type" />
    <!-- Add your CSS and other meta tags here -->
</head>
<body>
    <header>
        <nav class="navigation">
            <a href="#">VERVOYAGE</a>
            <a href="#">LIBRARY</a>
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Search a word" onkeyup="handleSearch(event)">
            </div>
            <a href="sign up.html">SIGN UP</a>
            <a href="login.html">LOGIN</a>
        </nav>
    </header>

    <div class="login-container">
        <form action="#" method="post"> <!-- Replace "#" with your login form action URL -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">LOGIN</button>
            </div>
        </form>
        <div class="forgot-password">
            <a href="#">Forgot Password?</a>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
