<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="site.css" title="type" />
</head>
<body>
    <header>
        <nav class="navigation">
            <a href="#">VERVOYAGE</a>
            <a href="#">LIBRARY</a>
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Search a word" onkeyup="handleSearch(event)">
            </div>
            <a href="sign up.html">SIGN UP</a>
            <a href="login.html">LOGIN</a>
        </nav>
    </header>

    <div class="centered-content">
        <button class="learn-more-button">Learn more</button>
    </div>

    <script src="script.js"></script>
</body>
</html>